activity-wall{
	style="width: 960px; height: 81px; border="0" align="center";
}
body{
     background-color:#fffff;
}

ul, li{
   margin:0;
   padding:0;
}

.activity-wall td{
	<center>
	padding:1em;
	width:300px;
	height:80px;
	border:1px solid #b4b28c;
	border-radius:20px;
	-moz-border-radius: 20px;
	-webkit-box-shadow: 10px 10px 15px #afaf97;
	-moz-box-shadow: 10px 10px 15px #afaf97;
	box-shadow: 10px 10px 15px #afaf97;
	background:green;
}

.recent-questions-panel{
    padding-left:200px;
    padding-right:200px;
    padding-top:10px;
}
.question-posted-time{
    color: #666666;
    font-size: 75%;
    border-bottom: 1px solid #EAEAEA;
}

.answer{
    border-bottom: 1px solid #EAEAEA;
}

.navigation-panel{
    padding-top:20px;
}

a:link {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}
a.button-anchor:hover{
    text-decoration:none;
    cursor:text;
}

.user-name {
   float: right;
   top: 0;
   right: 0;
   color: blueviolet;
}

#heading ul li{
    float:right;
}

#heading ul li a{
background-color:#E6E6FA;
color:white;
font-family:Lucida Console  ;
font-size:200%;
 text-decoration:none;
 border:1px solid #b4b28c;
 	border-radius:10px;
 	-moz-border-radius: 20px;

 	background: #7abcff; /* Old browsers */
     background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
     background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
     background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}
.list-heading{
    font-size:150%;
    color:#888888;
}

.header-navigator-panel{
    font-size:150%;
    color:white;
}

#basicSearch{
    width:500;
}

.error-color{
color:#FF0000;
}