activity-wall{
	style="width: 960px; height: 81px; border="0" align="center"
}
body{
     background-color:#fffff;
}
.activity-wall td{
	<center>
	padding:1em;
	width:300px;
	height:80px;
	border:1px solid #b4b28c;
	border-radius:20px;
	-moz-border-radius: 20px;
	-webkit-box-shadow: 10px 10px 15px #afaf97;
	-moz-box-shadow: 10px 10px 15px #afaf97;
	box-shadow: 10px 10px 15px #afaf97;
	background:green;
}

.recent-questions-panel{
    padding-left:200px;
    padding-right:200px;
    padding-top:10px;
}
.question-posted-time{
    color: #666666;
    font-size: 75%;
    border-bottom: 1px solid #EAEAEA;
}

.answer{
    border-bottom: 1px solid #EAEAEA;
}

.navigation-panel{
    padding-top:20px;
}

a:link {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}
a.button-anchor:hover{
    text-decoration:none;
    cursor:text;
}

.user-name {
   float: right;
   top: 0;
   right: 0;
   color: blueviolet;

}
.list-heading{
    font-size:150%;
    color:#888888;
}

.header-navigator-panel{
    font-size:150%;
    color:white;
}

#basicSearch{
    width:500;
}

